/* === GLOBAL === */

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: "Heebo", sans-serif;
    background-color: #f2f7fc;
}

::selection {
    background: #000000;
    color: #ffffff;
    text-shadow: none;
}

* {
    box-sizing: border-box;
}

/* === GRID-SYSTEM === */

.container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    min-height: 1px;
    padding: 0.8rem;
}

.col-1 { width: 16.666%; }
.col-2 { width: 33.333%; }
.col-3 { width: 50%;     }
.col-4 { width: 66.666%; }
.col-6 { width: 100%;    }

@media (max-width: 1024px) {

    .col-1 { width: 33.333%; }
    
}

@media (max-width: 768px) {

    .col-1 { width: 50%;  }
    .col-2 { width: 100%; }
    .col-3 { width: 100%; }
    .col-4 { width: 100%; }
    
}

@media (max-width: 480px) {

    .col-1 { width: 100%; }
    .col-2 { width: 100%; }
    .col-3 { width: 100%; }
    .col-4 { width: 100%; }
    
}

/*=== GENERELLES === */

.middle-line {
    background-image: linear-gradient(to right, #00a6ff, #00d0ff 55%, #40ffdf);
    width: 70px;
    height: 6px;
    margin-top: -5px;
    margin-left: auto;
    margin-right: auto;
}

.left-line {
    background-image: linear-gradient(to right, #00a6ff, #00d0ff 55%, #40ffdf);
    width: 70px;
    height: 6px;
    margin-top: -5px;
    margin-left: 0;
}

.active {
    background-image: linear-gradient(97deg, #00a6ff, #00d0ff 50%, #40ffdf);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

section {
    height: 100vh;
}

.email-button {
    background: #f2f7fc;
    color: #150042;
    border-radius: 50px;
    padding: 9px 45px 6px;
    font-size: 1.2em;
    transition: all .2s;
    width: 128px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.div-email-button {
    background-image: linear-gradient(to right, #00a6ff, #00d0ff 55%, #40ffdf);
    border-radius: 50px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 136px;
    margin-bottom: 5px;
    margin-left: 12px;
}

.email-button:hover {
    background-color: transparent;
}

.kontakt-button {
    background: #150042;
    color: #f6f6f6;
    border-radius: 50px;
    padding: 9px 45px 6px;
    font-size: 1.2em;
    transition: all .2s;
    width: 128px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.div-kontakt-button {
    background-image: linear-gradient(to right, #00a6ff, #00d0ff 55%, #40ffdf);
    border-radius: 50px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 136px;
    margin-bottom: 5px;
}

.kontakt-button:hover {
    background-color: transparent;
}

.sticky-elias {
    z-index: -10;
    opacity: .2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    position: fixed;
    inset: 26% 0%;
}

.name-background {
    z-index: -2;
    text-align: center;
    position: static;
    inset: 32% 0% 0%;
    width: 100%;
}

/* === NAVIGATIONSLEISTE === */

#header-nav .col-6 {
    padding: 0;
}

#header-nav .container {
    width: 100%;
}

#header-nav {
    width: 100%;
    height: 50px;
    position: sticky;
    font-weight: bold;
    font-size: 1.2rem;
    top: 0;
    background-color: #f2f7fc;
    z-index: 1000;
}

#header-nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
    border-bottom: lightgray 2px solid;
    padding-bottom: 55px;
    background-color: #f2f7fc;
}

#header-nav ul > li {
    display: inline-block;
    height: 100%;
    padding: 0 0.6rem 0 0.6rem
}

#header-nav ul > li > a {
    margin-top: 0.85rem;
    display: inline-block;
}

#header-nav ul > li > a:link {
    color: #150042;
    text-decoration: none;
}

#header-nav ul > li > a:visited {
    color: #150042;
    text-decoration: none;
}

#header-nav ul > li > a:hover {
    background-image: linear-gradient(97deg, #00a6ff, #00d0ff 50%, #40ffdf);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

#header-nav ul > li > a:active {
    color: #150042;
    text-decoration: none;
}

#header-nav .col-6 {
    padding-top: 0;
    padding-bottom: 0;
}

#header-nav .container,
#header-nav .row,
#header-nav .col-6 {
    height: 100%;
}

#header-nav .hr-nav {
    width: 100%;
    margin-top: 0;
}

/* === EINLEITUNG === */

#einleitung .einleitung-bild .portrait {
    height: 400px;
    width: auto;
    border-radius: 0 20px 0 20px; /* Abgerundete Ecken */
    margin-left: 25%;
    display: block;
    margin-right: 0
}

#einleitung {
    margin-top: 10rem;
}

#einleitung .einleitung-bereich {
    width: 500px;
    margin-right: 5rem;
    margin-left: auto;
    text-align: left;
}

#einleitung .einleitung-title h1 {
    font-size: 5rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    color: #150042;
}

#einleitung .einleitung-title h1:nth-of-type(2) {
    display: inline;
    top: -45px;
    position: relative;
}

#einleitung .einleitung-title h1:nth-of-type(3) {
    display: inline;
    top: -45px;
    position: relative;
}

#einleitung .einleitung-text {
    font-size: 1.3rem;
    width: 110%;
    top: -85px;
    position: relative;
    color: #150042bf;
    font-weight: 400;
}

#einleitung .einleitung-text > .einleitung-text-header {
    font-weight: 500;
}

#einleitung .einleitung-bild {
    text-align: right;
}

#einleitung .name {
    display: inline-block;
    background-image: linear-gradient(97deg, #00a6ff, #00d0ff 50%, #40ffdf);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 920px) {
    #einleitung .einleitung-bild .portrait {
        height: 300px;
        width: auto;
        margin-left: 45%;
        margin-top: 30px;
    }
}

@media (max-width: 768px) {
    #einleitung .einleitung-bereich {
        margin-right: auto;
        margin-left: auto;
    }

    #einleitung .einleitung-bild {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #einleitung .einleitung-bild .portrait {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -50px;
        height: 500px;
    }

    #einleitung {
        margin-top: 80px;
    }
}

@media (max-width: 575px) {
    #einleitung .einleitung-title h1 {
        font-size: 4rem;
    }

    #einleitung .einleitung-title h1:nth-of-type(2) {
        top: -40px;
    }

    #einleitung .einleitung-title h1:nth-of-type(3) {
        top: -40px;
    }

    #einleitung .einleitung-text {
        font-size: 1rem;
        top: -76px;
    }

    #einleitung .einleitung-bereich {
        width: 80%;
    }

    #einleitung .einleitung-title {
        width: 110%;
    }

    #einleitung .einleitung-bild .portrait {
        height: 400px;
    }
}

@media (max-width: 468px) {
    #einleitung .einleitung-title h1 {
        font-size: 3.2rem;
    }

    #einleitung .einleitung-title h1:nth-of-type(2) {
        top: -30px;
    }

    #einleitung .einleitung-title h1:nth-of-type(3) {
        top: -30px;
    }

    #einleitung .einleitung-text {
        top: -60px;
    }
}

@media (max-width: 376px) {
    #einleitung .einleitung-title h1 {
        font-size: 2.2rem;
    }

    #einleitung .einleitung-title h1:nth-of-type(2) {
        top: -20px;
    }

    #einleitung .einleitung-title h1:nth-of-type(3) {
        top: -20px;
    }

    #einleitung .einleitung-text {
        top: -45px;
    }

    #einleitung .einleitung-bild .portrait {
        height: 300px;
    }
}

/* === ABOUT BEREICH === */

#about h1 {
    font-size: 5rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    color: #150042;
}

#about .about-text {
    font-size: 1.3rem;
    width: 100%;
    color: #150042bf;
    font-weight: 400;
}

@media (max-width: 827px) {
    #about h1 {
        width: 110%;
    }
}

@media (max-width: 768px) {
    #about h1 {
        text-align: center;
        width: 100%;
    }

    #about {
        margin-top: 300px;
    }

    #about .about-bereich {
        margin-right: auto;
        margin-left: auto;
        text-align: justify;
        hyphens: auto;
    }

    #about .left-line {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 575px) {
    #about h1 {
        font-size: 4rem;
    }

    #about .about-text {
        font-size: 1rem;
    }

    #about .about-bereich {
        width: 80%;
    }
}

@media (max-width: 468px) {
    #about h1 {
        font-size: 3.2rem;
    }
}

@media (max-width: 376px) {
    #about h1 {
        font-size: 2.2rem;
    }
}

/* === KONTAKT-BEREICH === */

#kontakt label {
    display: none;
}

#kontakt .intro-container {
    text-align: center;
}

#kontakt h1 {
    font-size: 5rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    color: #150042;
}

#kontakt input,
#kontakt textarea {
    width: 100%;
    border: 2px solid #3abaff81;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: "Raleway", "Lato", "Helvetica Neue", "Arial", sans-serif;
    color: #3D3F45;
    transition: border 0.5s ease-in-out;
}

#kontakt textarea {
    height: 100px;
}

#kontakt {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
}

@media (max-width: 575px) {
    #kontakt h1 {
        font-size: 4rem;
    }
}

@media (max-width: 468px) {
    #kontakt h1 {
        font-size: 3.2rem;
    }
}

@media (max-width: 376px) {
    #kontakt h1 {
        font-size: 2.2rem;
    }
}

@media (max-width: 1366px) {

    #kontakt {
        width: 90%;
    }
    
}

@media (max-width: 1024px) {

    #kontakt {
        width: 100%;
    }
    
}

@media (max-width: 768px) {
    #kontakt button {
        width: 100%;
    }
}

/* === FOOTER-BEREICH === */

#footer {
    background-color: #150042;
    color: #f2f7fc;
}

#footer .socials h3, #footer .socials p {
    margin-bottom: 0;
    margin-top: 10px;
}

#footer .socials-icons a img {
    width: 32px;
    height: auto;
}

#footer .socials-icons div {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
}

#footer .attribution {
    font-size: 8px;
    margin-top: 0;
}

#footer .footer-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 45px;
}

@media (max-width: 768px) {
    #footer .footer-button {
        justify-content: center;
        align-items: center;
    }

    #footer {
        text-align: center;
    }
}